[include]
    path = ~/.gitconfig_userinfo
    path = ~/.gitconfig_betterdiff
[color]
    # colorの設定(以下のコマンドは自動で色つける)
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    quotepath = false
[push]
    # push only the current branch
    default = current
[merge]
    ff = false
    tool = vimdiff
[pull]
    rebase = true
[diff]
    tool = vimdiff
	compactionHeuristic = true
[interactive]
	diffFilter = diff-highlight
[rebase]
	autosquash = true
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
